.container {
  display: flex;
  justify-content: flex-end;
}

.container button {
  background: none;
  border: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: var(--radius);
  background-color: var(--pagination);
  color: var(--textPagination);
  cursor: pointer;
  transition: font-weight 0.3s;
}

.item:hover {
  font-weight: 600;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: var(--radius);
  background-color: var(--paginationSelected);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.item svg {
  transition: stroke-width 0.3s;
}

.item svg:hover {
  stroke-width: 4;
}

.skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: var(--radius);
  background-color: var(--pagination);
  color: transparent;
  text-shadow: 0 0 1.8rem var(--grey);
}
