.container {
  display: flex;
  justify-content: flex-end;
  height: 3.2rem;
}

.list {
  display: flex;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;;
  border-radius: var(--radius);
  background-color: var(--pagination);
  color: var(--textPagination);
  cursor: pointer;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;;
  border-radius: var(--radius);
  background-color: var(--paginationSelected);
  color: var(--orange);
  border: 1px solid var(--orange);
  cursor: pointer;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, 3.2rem);
  grid-template-rows: 3.2rem;
}
