@mixin button {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@mixin item {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  right: -0.7rem;
  bottom: -0.7rem;
}
