.container {
  background-color: var(--white);
  border-radius: var(--radius);
  overflow: hidden;
  display: grid;
  grid-template-rows: 25rem 1fr;
  max-width: 25rem;
  transition: transform 0.2s;
}

.container:hover {
  outline: 2px solid var(--orange);
  transform: scale(1.02);
}

.image {
  object-fit: coverI;
  width: 100%;
  height: 100%;
}

.info {
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  display: grid;
  grid-template-rows: 1fr auto;
}

.artist {
  color: var(--textBlack);
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  color: var(--grey);
}

.price {
  border-top: 2px solid var(--separator);
  color: var(--textBlack);
  font-weight: 600;
  margin-top: 0.8rem;
  padding: 0.8rem 0 0.8rem;
}
