.search {
  margin-right: 2.4rem;
  color: var(--grey);
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  width: 25em;
  height: 4.2rem;
  background-color: var(--background);
  border: none;
  border-radius: var(--radius);
  padding-left: 1.6rem;
}

.searchIcon {
  position: absolute;
  font-size: 2.4rem;
  right: 1.6rem;
}
