@mixin item {
  text-transform: uppercase;
  color: var(--textDark);
  cursor: pointer;
}

.container {
  list-style-type: none;
  display: flex;
  gap: 4rem;
}

.item {
  @include item;
  transition: text-shadow 0.3s;
}

.item:hover {
  text-shadow:
    0 0 0.75px var(--textDark),
    0 0 0.75px var(--textDark);
}

.selected {
  @include item;
  font-weight: 600;
  border-bottom: 4px solid var(--orange);
}
