.container {
  background-color: var(--white);
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  height: 8rem;
  max-width: 120rem;
  margin: 0 auto;
}

.brand {
  display: flex;
  align-items: center;;
  color: var(--textLight);
}

.logo {
  margin: 0 0.3rem 0 0.3rem;
  display: flex;
}
