.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  height: 8rem;
  padding: 0 16rem;

  @media (max-width: 1200px) {
    padding: 0 4rem;
  }
}

.brand {
  display: flex;
  align-items: center;;
  color: var(--textLight);
}

.logo {
  margin: 0 0.3rem 0 0.3rem;
  display: flex;
}
