.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 4rem;
}

.item {
  text-transform: uppercase;
  color: var(--textDark);
  cursor: pointer;
}

.selected {
  text-transform: uppercase;
  color: var(--textDark);
  cursor: pointer;
  font-weight: 600;
  border-bottom: 4px solid var(--orange);
}

.dropdown {
  border-bottom: 4px solid transparent;
}
